<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<p class="psettings">
		<img class="vspic" src="/img/body1.jpg" alt="">
		<details class="set">
			Когда хочется, чтобы после душа тебя обволакивало ароматное облако, а кожа была нежной и красивой, выбирай гель-уход для душа Nivea Крем и Апельсин. В составе с натуральным маслом авокадо он заботится о коже, делая ее невероятно мягкой. Сбалансированный предотвращает пересушивание кожи, поддерживая ее естественный уровень увлажненности. А нежный аромат апельсина пробудит Ваши чувства. Превратите ежедневное принятие душа в момент истинного наслаждения и заботы о коже. Обновленная биоразлагаемая формула не содержит микропластик, потому что мы заботимся не только о красоте и здоровье кожи, но и об окружающей среде! Мы хотим менять мир к лучшему и ставим перед собой амбициозные цели в сфере защиты окружающей среды.
Исследователи NIVEA постоянно совершенствуют формулы, чтобы сделать наши средства максимально подходящими для кожи, одновременно минимизируя уровень их воздействия на природу.
		</details>
	</p>
	<hr class="indent">
	<p class="psettings">
		<img class="vspic" src="/img/body2.jpg" alt="">
		<details class="set">
			Ты в курсе, что у тебя есть всего несколько секунд после душа, чтобы кожа не потеряла влагу? И…что ? А вот что: за это время в твоей руке должно появиться оно - нежное молочко от веселой коровы! Моментально впитывается и питает кожу всем необходимым. Благодаря формуле с молочными протеинами и маслу ШИ, ощущение увлажненности сохранится гораздо дольше!
		</details>
	</p>
	<hr class="indent">
	<main>
		<h1>Подведём итог!</h1>
		<p>
			Оба средства являются хорошей продукцией и не вличет за собой последствий после применения, поэтому мы советуем выбирать между ними на свой вкус.
		</p>
	</main>
</body>
</html>