<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<p class="psettings">
		<img class="vspic" src="/img/face1.jpg" alt="">
		<details class="set">
			Балансирующий тонер для лица предназначен для жирной кожи. Гидролаты растений (розмарина, череды, чистотела, шалфея, подорожника) оказывают тонизирующее, успокаивающее и увлажняющее действие.
Салициловая кислота способствует отшелушиванию омертвевших клеток, ускоряет выравнивание и обновление кожи. Средство улучшает микроциркуляцию, сокращает выделению себума, нормализует работу сальной железы, минимизирует следы постакне. Быстро и надолго освежает и матирует кожу. Способ применения: Нанести тонер на кожу с помощью ватного диска или салфетки.Примечание: перед первым применением протестируйте средство на небольшом участке кожи, чтобы исключить индивидуальную непереносимость компонентов.
		</details>
	</p>
	<hr class="indent">
	<p class="psettings">
		<img class="vspic" src="/img/face2.jpg" alt="">
		<details class="set">
			Салициловая кислота наносится только на проблемные участки, мгновенно подсушивает акне и останавливает воспалительные процессы. Салициловая кислота отшелушивает отмершие клетки кожи, что способствует глубокому проникновению средства, уничтожает бактерии, из-за которых возникают прыщи и черные точки, а также снимает покраснение и восстанавливает здоровый цвет лица. Лактулоза усиливает барьерные функции кожи, благодаря чему средство препятствует распространению угревой сыпи. Цинк моментально подсушивает воспаления и уменьшает следы пост-акне и дефекты кожи. Использование специальной лопатки делает уход за кожей удобным и гигиеничным. СПОСОБ ПРИМЕНЕНИЯ: Очистите лицо, нанесите салициловую кислоту на проблемные участки кожи.
		</details>
	</p>
	<hr class="indent">
	<main>
		<h1>Подведём итог!</h1>
		<p>
			Салициловая кислота является более дешёвым средством, чем Aravia, а эффект от этих продуктов грубо говоря один и тот же.
		</p>
	</main>
</body>
</html>