<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<p class="psettings">
		<img class="vspic" src="/img/hair1.jpg" alt="">
		<details class="set">
			Шампунь и бальзам-ополаскиватель Clear Men 2 в 1 Ultimate Control для мужчин, 400 мл ухаживает за волосами, очищая и увлажняя их, а также помогает избавиться от перхоти.
Основная причина возникновения мужской перхоти - повышенная жирность и более активная выработка кожного сала. Для устранения видимых проявлений и решения этой проблемы специалисты Clear разработали уникальную технологию тройной защиты.
Шампунь и бальзам-ополаскиватель устраняет сухость и шелушения, питает, дарит необходимую влагу и усиливает защитные функции клеток кожи. Шампунь-бальзам имеет в основе специальную формулу. В ее состав входят цинк пиритион, комплекс аминокислот и витаминов. Активные вещества препятствуют размножению грибка Malassezia и усиливают защитный слой кожи головы. При регулярном применении Clear Men 2 в 1 не просто убирает перхоть, но и избавляет от ее повторного появления.Шампунь устранит загрязнения и перхоть, сделает волосы сильными, красивыми и подарит им приятный аромат.
		</details>
	</p>
	<hr class="indent">
	<p class="psettings">
		<img class="vspic" src="/img/hair2.jpg" alt="">
		<details class="set">
			Освежающая пена геля для душа и шампуня 2в1 Old Spice в XL упаковке объемом 400 мл вышибает неприятные запахи, наполняя тебя капитанской решительностью, смелостью и отвагой с чистыми зелеными нотами цитрусовых. Зарядись энергией и мощью
Old Spice с самого утра - попробуй гель для душа и шампунь 2.1 Captain, затем нанеси дезодорант из этой же коллекции (стик или спрей - выбирай свое оружие), чтобы потопить неприятный запах пота. Капитан, освежитесь, и полный вперед!
		</details>
	</p>
	<hr class="indent">
	<main>
		<h1>Подведём итог!</h1>
		<p>
			Исходя из личного опыта с уверенностью можем сказать, что шампунь "Clear Men" является лучшим вариантом по соотношению цена и качество. Шампунь "Old Spice" имеет токсичный запах и не подойдет людям, которые болеют астмой, а в свою очаредь "Clear Men" не содержит их.
		</p>
	</main>
</body>
</html>