<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<p class="psettings">
		<img class="vspic" src="/img/kitchen1.jpg" alt="">
		<details class="set">
			Концентрированный гель для посуды с антибактериальным эффектом SYNERGETIC - это экологичное, безопасное и эффективное средство для мытья всех видов посуды (в том числе детской), кухонного инвентаря и детских игрушек от любых видов загрязнений. Мягкие биоразлагаемые тензиды из растительного масла обеспечивают хорошее пенообразование и эффективно удаляют жир и запахи даже в холодной воде. Растительный глицерин в составе средства защищает кожу рук от сухости и раздражения. Международный экологический сертификат ICEA подтверждает биоразлагаемость, безопасность и эффективность средства. Полностью смывается водой. Дерматологически протестировано в Европе. Биоразлагаемые компоненты не вредят микрофлоре септических установок. Инструкция по применению : Нанести средство на очищаемую поверхность, вымыть поверхность, ополоснуть водой. При приготовлении моющего раствора используйте 5 мл средства на 5 л воды.
		</details>
	</p>
	<hr class="indent">
	<p class="psettings">
		<img class="vspic" src="/img/kitchen2.jpg" alt="">
		<details class="set">
			Чистящее средство для удаления жира, нагара и копоти со сковородок, кухонных плит, мультиварок, фритюрниц, грилей, духовых шкафов и микроволновых печей. Содержит активные вещества, расщепляющие жир, действие которых гарантирует быстрый результат без особых усилий. Чистящее средство для кухни жироудалитель Azelit KA3AH
от Grass спрей для уборки 600 мл - высокоэффективное средство для различных поверхностей вашей кухни. С этим средством ваш казан, кастрюли и сковороды будут радовать своей чистотой. Средство для плиты удаляет жир, нагар и копоть со сковородок, кухонных плит, мультиварок, фритюрниц, грилей, духовых шкафов и микроволновых печей. Моющее средство анти жир устраняет неприятные запахи, придает блеск и не оставляет разводов. Средство от жира на кухне предназначено для использования на эмалированных, хромированных поверхностях, изделиях из стекла, нержавеющей стали, чугуна, фаянса, фарфора. Способ применения: нанести на очищаемую поверхность, оставить не более чем на 30 секунд. Потереть щеткой или губкой, смыть водой. При необходимости обработку повторить. При сильных загрязнениях увеличить время контакта. Перед применением рекомендуем проверить стойкость поверхности к средству на незаметном участке. Бытовая химия от Грасс- это высокоэффективные средства для ванны, для сантехники, для кухни, для пола, для стёкол, из которых можно составить отличный набор для уборки вашего дома.
		</details>
	</p>
	<hr class="indent">
	<main>
		<h1>Подведём итог!</h1>
		<p>
			Synergetic является более дорогим продуктом,но он стоит своих денег и превосходит многих своих оппонентов, поэтому мы рекомендуем выбирать именно его!
		</p>
	</main>
</body>
</html>