<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<p class="psettings">
		<img class="vspic" src="/img/room1.jpg" alt="">
		<details class="set">
			Высококонцентрированное универсальное моющее средство LOC для ежедневной уборки подходит для очищения всех непористых поверхностей, которые можно мыть, а также для мытья рук. ЛОК универсальный от Амвей без усилий уничтожает любую грязь, не требует смывания и не оставляет разводов. Мягкое и безопасное средство Amway для уборки детской комнаты, ванной и туалета - не содержит фосфатов, едких щелочей, кислот и хлорных отбеливателей. Товары для уборки Амвей дерматологически протестированы. Эффективно удаляет все виды застарелой грязи и копоти при уборке на кухне. Содержит ингредиенты, полученные из природного сырья, например из кокосового масла. Эфирные масла в составе средства для уборки дома придают помещению приятный аромат. Чистящие средства для мытья полов Амвой безопасно с первых дней жизни для уборки в детских комнатах, мытья детской мебели, игрушек и других изделий из моющихся водостойких материалов. Значок BIOQUEST
Formula™ на упаковке свидетельствует, что наше чистящее средство L.O.C. Amwey для обработки поверхностей содержит высокоактивные ингредиенты, полученные из природных источников, является биоразлагаемым концентратом, безвредным для человека и природы, а также прошло дерматологическое тестирование. Средство Лок амвей многофункциональное гипоаллергенно.Моющие средства для уборки амвей-атша не вызывает негативных проявлений со стороны кожных покровов и органов дыхания. Обладает антибактериальным эффектом. Напоминаем, что вся продукция эмвей экологична и биоразлагаема.
		</details>
	</p>
	<hr class="indent">
	<p class="psettings">
		<img class="vspic" src="/img/room2.jpg" alt="">
		<details class="set">
			Чистящее средство для ванной комнаты GRASS
Gloss Gel, 500 мл. Чистящее средство для ванной комнаты Gloss-Gel. Подходит для чистки ванн, душевых кабин, сантехники, фаянсовых изделий и кафеля от известкового налета, потеков ржавчины, мыльных разводов и солевых отложений. Эффективно удаляет сложные и застарелые загрязнения. Безопасно для акриловых ванн. Придает поверхности чистоту и блеск, сохраняя эффект на несколько дней.
		</details>
	</p>
	<hr class="indent">
	<main>
		<h1>Подведём итог!</h1>
		<p>
			В этой подборке не будет победителей, так как они оба по-своиму хороши, поэтому выбирайте на свой вкус!
		</p>
	</main>
</body>
</html>