<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<main>
		<h1>Безопасное использование</h1>
		<p>
			Бытовая химия занимает важное место в нашей жизни – мытьё посуды и полов, стирка и уборка квартиры, освежители воздуха и т.д. С экрана телевизора, в магазинах мы часто слышим, какое средство лучше справляется при уборке в квартире, и какое стоит покупать. Но мало где мы услышим о составе бытовой химии, о качестве данных средств, и какое влияние бытовая химия окажет на нас и наших близких. Часто люди даже не подозревают, какое огромное количество опасных токсинов, когда-либо созданных, находятся непосредственно у нас дома: на кухне, в ванной, в комнатах. Грязная квартира тоже очень плохо влияет на здоровье людей. Размножаются бактерии, которые могут вызвать различные заболевания.
		</p>
	</main>
</body>
</html>