<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head'); %>
<body>
	<header>
		<span><%= span %></span>
		<nav>
			<a href="/">Вернуться на главную страницу</a>
		</nav>
	</header>
	<p class="psettings">
		<img class="vspic" src="/img/toilet1.jpg" alt="">
		<details class="set">
			Бреф Тотал Гель Чистота и Блеск - это чистящий гель для туалета, который дарит блеск, позволяя наслаждаться свежим ароматом во время и после уборки.
Активная формула действует в 4 направлениях:
﻿﻿образует очищающую пену, которая обеспечивает гигиеническую чистоту;
﻿﻿предотвращает образование известкового налета;
﻿﻿помогает предотвратить повторное загрязнение;
﻿﻿придает туалетной комнате свежий аромат.
Специальная водоотталкивающая формула средства Бреф не только быстро и эффективно борется с грязью, но и сохраняет чистоту поверхности надолго. Чистящий гель Бреф подходит для чистки унитазов. Гель от Бреф обладает антибактериальным эффектом и борется со всеми основными микробами.
Чистящее средство удобно в использовании.
Для уборки достаточно нанести средство Бреф на очищаемую поверхность на 5 минут, почистить и смыть водой.
Бреф Тотал Гель Чистота и Блеск - Ваше надежное средство для чистоты и свежести в туалете.
		</details>
	</p>
	<hr class="indent">
	<p class="psettings">
		<img class="vspic" src="/img/toilet2.jpg" alt="">
		<details class="set">
			Концентрированное средство для сантехники предназначено для поддержания чистоты в  туалете. Густой гелевый состав обволакивает поверхность и уверенно расщепляет загрязнения. Деликатная композиция эфирных масел сандала, бергамота, мяты и лимона ненавязчиво пахнет чистотой и свежестью и усиливает антибактериальный эффект. Чистящее средство для сантехники умело заботится не только об унитазе - средство для чистки унитаза можно наносить на плитку, смесители, ванную и раковину. Средство для чистки ванны работает даже в холодной и жесткой воде. Антибактериальный эффект: убивает 100% микробов и бактерий. Безопасно для септиков и не вредит микроорганизмам, которые их населяют. Средство для сантехники synergetic можно использовать как: гель для уборки, жидкость для уборки, гель для унитаза, гель для сантехники, гель для чистки унитаза, средство для мытья сантехники.
		</details>
	</p>
	<hr class="indent">
	<main>
		<h1>Подведём итог!</h1>
		<p>
			Synergetic является хорошим средством для санузла и по соотношению цены и качества он превосходит оппонентов, поэтому мы рекомендуем выбирать именно его!
		</p>
	</main>
</body>
</html>